.root{
    display: flex;
    background-color: #EAEAEA;
}

.app{
    width:100%;
    height: 60px;
    background-color: #0063B1;
    position: absolute;
}

.icon-login{
    font-size: 40px;
    margin-right: 10px;
}

.menuAjust{
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.p-process{
    font-size: 14px;
  color: #808080;
  margin-left: 14px;
  font-family: SemiBold;
}
.dividerAjust{
    margin-top: 10px
}

.txtTicket{
    text-align: center;
    margin-left: 20px;
}

.input-buscar{
    width: 100%;
}

.toolbar{
    background-color: #F9F9F9;
}

.input-buscar{
    border: 0;
    height: 35px;
    background-color: #F9F9F9;
    color: #808080;
    margin-left: 10px;
    padding-left: 5px;
}

.img-busca{
    width: 20px;
     -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.todo-process{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    cursor: pointer;
}
.p-todos-process{
    font-size: 16px;
    color:#808080;
     font-family: SemiBold;
}

.ticket-icon{
    width: 20px;
    margin-right: -30px;
    margin-left: 20px;
}

.display-flex{
    display: flex;
}

.value-process{
    margin-right: 18px;
}

.icon-color{
    width: 20px;
    height: 10px;
    margin-right: 10px;
    margin-left: 28px;
    cursor: pointer;
}
.list-name{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 15px;
}

.value-ticket{
    margin-right: 18px;
}

.tags-name{
    width: 100%;
    cursor: pointer;
 font-family: SemiBold;
 color: #808080;
}

.div-criar-ticket{
    display: flex;
    margin-top: 18px;
    color: #808080;
    font-family: Regular;
    cursor: pointer;
}

.add-icon{
    font-size: 25px;
    margin-top: 3px;
    margin-left: 28px;
    margin-right: 10px;
    color: #808080;
}

.inputTicket{
    width: 70%;
    margin-right: 10px;
    background-color: #F4F4F4;
    color:#333333;
    border: 0;
    height: 30px;
    padding-left: 15px;
    font-size: 14px;
    margin-left: 20px;
}

.inputTicket-2{
    width: 48%;
       margin-right: 10px;
       background-color: #F4F4F4;
       color: #333333;
       border: 0;
       height: 30px;
       padding-left: 15px;
       font-size: 14px;
       margin-left: 0px;
   }
.icon-done{
    margin-left:-8px;
    color: #0078D7;
}

.button-add{
    width: 50%;
    margin-left: 25%;
    background-color: #0063B1;
    border: 0;
    border-radius: 4px;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}

.new-tag{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: -10px;
}

.github-pick{
    position: absolute!important;
    margin-top: 25%;
    margin-left: 5%;
}

.add-tag-icon{
    cursor: pointer;
    color: #808080;
}

.feitos{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
    padding-left: 30px;
    border-top: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    color: #808080;
    margin-top: 50%;
}