.card{
    margin-bottom: 20px;
    height: 100px;
    background-color: white;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 26px 5px 26px;
    max-width: 98%;

}

.moviment{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.folder{
    color: #808080;
    margin-right: 5px;
}

.info-all-card{
    display: flex;
    flex-direction: column;
    width: 600px
}

.assunto-card{
    display: flex;
    font-family: SemiBold;
    color: #4D4D4D;
}

.positive{
    font-size: 15px;
    color:#01AE76;
    margin: 0 5px 0 5px;
}

.negative{
    font-size: 15px;
    color:#FF5766;
    margin: 0 5px 0 5px;
}

p{
    margin-top: 3px;
    margin-bottom:3px;
}

.pasta-card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    border-left: 2px solid #EAEAEA;
    border-right: 2px solid #EAEAEA;
    height: 30px;
    font-family: Regular;
    color: #4D4D4D;
    border: 0;
    border-left: 1px solid;
    border-right: 1px solid;
    background-color: transparent;
}



.tags-card{
    display: flex;
    align-items: center;
    padding-left: 30px; 
}

.addtag{
    color: #808080;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.modal-ticket{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 186px;
    background-color: white;
    position: absolute;
    margin-top: 6%;
    padding: 9px 9px 9px 10px;

box-shadow: 0px 0px 1em #00000066;
-webkit-box-shadow: 0px 0px 1em #00000066;
-moz-box-shadow: 0px 0px 1em #00000066;

}

.modal-title{
    color: #808080;
    font-size: 16px;
}
.modal-name{
     margin-top: 5px;
     cursor: pointer;
     color:white;
     padding-left: 5px;
     font-size: 14px;
}

.name-tag-cads{
    border-radius: 3px;
    margin-left: 7px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
    max-height: 28px;
    display: flex;
    align-items: center;
    font-family: semiLight;

}

.close{
    margin-left: 3px;
    margin-top:3px;
    font-size: 15px;
    cursor: pointer;
}

.numero-card{
    font-family: Regular;
    color: #808080;
}

.partes-card{
    display: flex;
    align-items: center;
    font-family: Regular;
}

.tag-listado{
    display: flex;
    flex-direction: column;
}