@font-face {
	font-family: Semibold;
	src: url('./fonts/seguisb_1.ttf');
}

@font-face {
	font-family: Regular;
	src: url('./fonts/segoeui.ttf');
}

@font-face {
	font-family: uBold;
	src: url('./fonts/segoeuib.ttf');
}

@font-face {
	font-family: semiLight;
	src: url('./fonts/seguisli_1.ttf');
}